.button {
  background-color: #f15060;
  color: #fff;
  border: 1px #f15060 solid;
  border: 0;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  letter-spacing: 0.06em;
  outline: 0;
  width: 100%;
  position: absolute;
  margin-top: -32px;
}
